<!-- sidebar.component.html -->
<nav class="sidebar">
  <ul>
    <li>
      <a routerLink="/dashboard/home" routerLinkActive="active">
        🏠 Accueil
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/rendezvous/list" routerLinkActive="active">
        📅 Rendez-vous
      </a>
    </li>

    <li>
      <a routerLink="/dashboard/create-rendezvous" routerLinkActive="active">
        ➕ Créer Rendez-vous
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/users/create" routerLinkActive="active">
        👤 Créer Utilisateur
      </a>
    </li>
    <li>
      <a routerLink="/settings" routerLinkActive="active">
        ⚙️ Paramètres
      </a>
    </li>
  </ul>
</nav>