<div class="dashboard-container">
  <h1>Tableau de bord</h1>

  <!-- Actions -->
  <div class="actions">
    <button class="btn btn-login" (click)="goToLogin()">
      Aller à la page de connexion
    </button>

    <button class="btn btn-primary" (click)="goToCreateRdv()">
      Créer un rendez-vous
    </button>
    <!-- Bouton de création d'utilisateur -->
    <button class="btn btn-primary" *ngIf="currentUser?.role === 'admin'" (click)="goToCreateUser()">
      Créer un utilisateur
    </button>
  </div>

  <!-- Affichage des rendez-vous -->
 <div class="dashboard">
  <h2>Mes rendez-vous</h2>
  <div *ngIf="rendezvousList.length === 0">
    Aucun rendez-vous trouvé.
  </div>

  <ul>
    <li *ngFor="let rdv of rendezvousList">
      <strong>{{ rdv.titre }}</strong>  
      ({{ rdv.date_heure | date:'short' }})  
      - {{ rdv.nom_client }} / {{ rdv.contact_client }}
      <span class="statut">[{{ rdv.statut }}]</span>
    </li>
  </ul>
</div>
</div>


